.container {
	width: 100%;
	min-height: 158px;
	background: #f2f2f2;
	display: flex;
}

.content {
	width: 90%;
	margin: auto;
	padding: 16px;
}

.title {
	font-family: var(--fontLato);
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 22px;
}

.form {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
}

.form__label {
	width: 100%;
	height: 62px;
	display: flex;
	flex-direction: column;
	font-family: var(--fontLato);
	font-size: 12px;
	color: #d7182a;
}
.form__label:first-of-type {
	margin-bottom: 22px;
}
.form__label span {
	line-height: 30px;
}

.form__input,
.form__button {
	height: 48px;
	font-family: var(--fontLato);
	font-size: 12px;
	font-weight: bold;
	padding: 14px;
	border-radius: 5px;
	background: #fff;
}

.form__input:focus,
.form__input:focus-within {
	border: 1px solid #bdbdbd;
}

.form__inputBorder {
	border: 1px solid #d7182a;
}

.form__button {
	width: 100%;
	font-size: 14px;
	margin-top: 10px;
	background: var(--details-color);
}

.button__disabled:disabled {
	opacity: 0.9;
}

.form__submited {
	font-family: var(--fontLato);
}

.form__submited__title {
	font-size: 14px;
}

.form__submited__description {
	font-size: 12px;
	color: #333333;
	margin-bottom: 15px;
}

.form__submited__button {
	width: 300px;
	font-family: var(--fontLato);
	font-size: 14px;
}

@media (min-width: 48rem) {
	.content {
		width: 716px;
	}
	.title {
		text-align: center;
	}
	.form {
		flex-flow: row;
	}
	.form__label:first-of-type {
		margin-bottom: 0;
	}
	.form__input {
		width: 280px;
		margin-right: 9px;
	}

	.form button {
		min-width: 146px;
		margin-top: 0;
	}

	.form__submited__button {
		width: 300px;
	}
}
